body{
    margin: 12vh 5vw 10vh 5vw;
    background-color: rgb(241, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

h1{
    color: rgb(156, 122, 77);
    text-align: center;
}

form{
    color: rgb(115, 121, 119);
    text-align: center;
}

button{
    background-color: rgba(0, 255, 255, 0.623);
    border: 2px solid rgb(10, 93, 218);
    border-radius: 7px;
    margin-left: 1vw;
}

img{
    border-radius: 100px;
    width: 70vw ;
    height: 40vh;
    align-items: center;
    margin-bottom: 2vh;
}